In [118]:
DATA_PATH=r'..\data\raw\survey_results_public.csv'

In [119]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import logging
import pickle

In [120]:
REPLACE_DICT={
    'YearsCodePro':{'Less than 1 year':0,
                    'More than 50 years':51},
    'YearsCode':{'Less than 1 year':0,
                 'More than 50 years':51}               
}

In [121]:
raw_df=pd.read_csv(DATA_PATH)
df=raw_df.copy()

Preprocessing

In [175]:
#process yearscode and yearscodepro to be float instead of object
for coulmn,replacement in REPLACE_DICT.items():
    df[coulmn]=df[coulmn].replace(replacement).astype(np.float32)

In [176]:
df.describe()

,ResponseId,YearsCode,YearsCodePro,CompTotal,ConvertedCompYearly
count,83439.000000,81641.000000,61216.000000,4.718300e+04,4.684400e+04
mean,41720.000000,12.338201,9.184299,2.119407e+69,1.184262e+05
std,24086.908893,9.832967,8.265395,4.603702e+71,5.272944e+05
min,1.000000,0.000000,0.000000,0.000000e+00,1.000000e+00
25%,20860.500000,5.000000,3.000000,1.600000e+04,2.702500e+04
50%,41720.000000,10.000000,6.000000,6.700000e+04,5.621100e+04
75%,62579.500000,17.000000,13.000000,1.400000e+05,1.000000e+05
max,83439.000000,51.000000,51.000000,1.000000e+74,4.524131e+07

In [199]:
def split_answers(data_series,delimeter=';'):
    """this fun take each coulmn name and return 
    the data frame which contain more than one value in string
    like list 
    """
    def issplittable(pd_series,delimeter):
        return pd_series.str.contains(delimeter)
    def split_answer(pd_series,delimeter):
        return pd_series.str.split(delimeter) 
    if not issplittable(data_series,delimeter).any():
        return data_series
    modified_series=split_answer(data_series,delimeter)
    #replace nulls with empty list 
    nulls=modified_series.isnull()
    modified_series.loc[nulls]=modified_series.loc[nulls].apply(lambda x:[])
    return modified_series

In [200]:
object_coulmns=df.select_dtypes('object').columns.to_list()
for coulmn in object_coulmns:
    df[coulmn]=split_answers(df[coulmn])

In [211]:
# df.sample(1).iloc[0]['YearsCode']
for i in REPLACE_DICT:
    print(raw_df.sample(1).iloc[0][i])
    print(df.sample(1).iloc[0][i])
    print("-"*40)

3
nan
----------------------------------------
40
15.0
----------------------------------------

In [241]:
i=df.sample(1).index[0]
print(raw_df["LanguageHaveWorkedWith"].iloc[i])
print(df["LanguageHaveWorkedWith"].iloc[i])

nan
[]

In [247]:
df.sample(1).iloc[0]

ResponseId                                                                   7890
MainBranch                      I am not primarily a developer, but I write co...
Employment                                                     Employed full-time
Country                                                                   Belgium
US_State                                                                      NaN
UK_Country                                                                    NaN
EdLevel                           Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)
Age1stCode                                                          11 - 17 years
LearnCode                       [Other online resources (ex: videos, blogs, et...
YearsCode                                                                    13.0
YearsCodePro                                                                  6.0
DevType                         [Data scientist or machine learning specialist...
OrgSize                                                          2 to 9 employees
Currency                                                        EUR European Euro
CompTotal                                                                 65000.0
CompFreq                                                                   Yearly
LanguageHaveWorkedWith          [Bash/Shell, HTML/CSS, JavaScript, Node.js, Po...
LanguageWantToWorkWith          [Bash/Shell, C++, HTML/CSS, JavaScript, Node.j...
DatabaseHaveWorkedWith                 [Microsoft SQL Server, PostgreSQL, SQLite]
DatabaseWantToWorkWith                                       [PostgreSQL, SQLite]
PlatformHaveWorkedWith                                  [Heroku, Microsoft Azure]
PlatformWantToWorkWith                                  [Heroku, Microsoft Azure]
WebframeHaveWorkedWith                                           [Django, jQuery]
WebframeWantToWorkWith                                 [Django, jQuery, React.js]
MiscTechHaveWorkedWith                             [NumPy, Pandas, Torch/PyTorch]
MiscTechWantToWorkWith          [Hadoop, Keras, NumPy, Pandas, React Native, T...
ToolsTechHaveWorkedWith                                             [Docker, Git]
ToolsTechWantToWorkWith                                 [Docker, Git, Kubernetes]
NEWCollabToolsHaveWorkedWith    [Atom, IPython/Jupyter, PyCharm, RStudio, Subl...
NEWCollabToolsWantToWorkWith    [PyCharm, RStudio, Sublime Text, Visual Studio...
OpSys                                                                     Windows
NEWStuck                        [Visit Stack Overflow, Google it, Watch help /...
NEWSOSites                                       [Stack Overflow, Stack Exchange]
SOVisitFreq                                                  A few times per week
SOAccount                                                                     Yes
SOPartFreq                                        A few times per month or weekly
SOComm                                                              Yes, somewhat
NEWOtherComms                                                                 Yes
Age                                                               25-34 years old
Gender                                                                      [Man]
Trans                                                           Prefer not to say
Sexuality                                                                      []
Ethnicity                                                                      []
Accessibility                                                 [None of the above]
MentalHealth                                                                   []
SurveyLength                                                Appropriate in length
SurveyEase                                                                   Easy
ConvertedCompYearly                                                       70264.0
Name: 7889, dtype: object

In [262]:
EXPORT_PATH="dataframe.pkl"
df.to_pickle(EXPORT_PATH)
EXPORT_PATH

'dataframe.pkl'

In [264]:
EXPORT_PATH

'dataframe.pkl'