In [11]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import os
from sklearn.preprocessing import MultiLabelBinarizer

In [2]:
DATA_DIR="..\data\processed\dataframe.pkl"
CLUSTER_DIR=r'..\data\processed\feature_skills_clusters.pkl'
EXPORT_FEATURES_DIR='..\data\processed'

In [10]:
preprocessed_df=pd.read_pickle(DATA_DIR)
feature_clusters=pd.read_pickle(CLUSTER_DIR)

In [9]:
ROLE_COLS=["DevType"]
TECH_COLS=['LanguageHaveWorkedWith',
       'DatabaseHaveWorkedWith',
       'PlatformHaveWorkedWith',
       'WebframeHaveWorkedWith',
       'MiscTechHaveWorkedWith',
       'ToolsTechHaveWorkedWith',
       'NEWCollabToolsHaveWorkedWith']

In [43]:
encoded_dfs={}
penalizer=MultiLabelBinarizer()
for col in ROLE_COLS+TECH_COLS:
   encoded_df=penalizer.fit_transform(preprocessed_df[col])
   encoded_df=pd.DataFrame(encoded_df,columns=penalizer.classes_)
   encoded_dfs[col]=encoded_df

encoded_dfs=pd.concat(encoded_dfs,axis=1)
encoded_dfs
# pd.concat(encoded_dfs,axis=1)

                  DevType                           \
      Academic researcher Data or business analyst
0                       0                        0
1                       0                        0
2                       0                        0
3                       0                        0
4                       0                        0
...                   ...                      ...
83434                   0                        0
83435                   0                        0
83436                   0                        0
83437                   0                        0
83438                   0                        0

                                                                            \
      Data scientist or machine learning specialist Database administrator
0                                                 0                      0
1                                                 0                      0
2                                                 0                      0
3                                                 0                      0
4                                                 0                      0
...                                             ...                    ...
83434                                             0                      0
83435                                             0                      0
83436                                             1                      0
83437                                             0                      0
83438                                             0                      0

                                                                            \
      Designer DevOps specialist Developer, QA or test Developer, back-end
0            0                 0                     0                   0
1            0                 0                     0                   0
2            0                 0                     0                   0
3            0                 0                     0                   0
4            0                 0                     0                   0
...        ...               ...                   ...                 ...
83434        0                 0                     0                   1
83435        0                 0                     0                   0
83436        0                 1                     0                   0
83437        0                 0                     0                   1
83438        0                 0                     0                   1

                                                     \
      Developer, desktop or enterprise applications
0                                                 0
1                                                 0
2                                                 0
3                                                 0
4                                                 1
...                                             ...
83434                                             0
83435                                             0
83436                                             0
83437                                             0
83438                                             0

                                                   ...  \
      Developer, embedded applications or devices  ...
0                                               0  ...
1                                               0  ...
2                                               0  ...
3                                               0  ...
4                                               0  ...
...                                           ...  ...
83434                                           0  ...
83435                                           0  ...
83436                                           0  ...
83437                                           0  ...
83438                                           0  ...

      NEWCollabToolsHaveWorkedWith                                           \
                           RStudio Rider RubyMine Sublime Text TextMate Vim
0                                0     0        0            0        0   0
1                                0     0        0            0        0   0
2                                1     0        0            1        0   0
3                                0     0        0            0        0   0
4                                0     0        0            0        0   1
...                            ...   ...      ...          ...      ...  ..
83434                            0     0        0            1        0   1
83435                            1     0        0            1        0   1
83436                            0     0        0            1        0   1
83437                            0     0        0            1        0   0
83438                            0     0        0            0        0   0


      Visual Studio Visual Studio Code Webstorm Xcode
0                 0                  0        0     1
1                 0                  0        0     0
2                 0                  1        0     0
3                 0                  0        0     0
4                 0                  0        0     0
...             ...                ...      ...   ...
83434             0                  1        0     0
83435             1                  1        0     0
83436             0                  1        0     1
83437             0                  0        0     0
83438             0                  1        0     0

[83439 rows x 150 columns]

Sanity check

In [65]:
#original data
n=np.random.randint(preprocessed_df.shape[0])

print(preprocessed_df.loc[n][ROLE_COLS].to_list())
print(preprocessed_df.loc[n][TECH_COLS].to_list())

print("_ "*50)
mask=encoded_dfs.loc[n]==1
print(encoded_dfs.loc[n][mask].droplevel(0))

print("_ "*50)

print(feature_clusters.loc[n][feature_clusters.loc[n]==1])

[['Developer, front-end', 'Student', 'Designer']]
[['HTML/CSS', 'Java', 'JavaScript', 'Node.js', 'Python', 'SQL'], ['MySQL'], [], ['Django', 'React.js'], ['React Native'], ['Git', 'Unity 3D'], ['Android Studio', 'Visual Studio Code']]
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
Designer                1
Developer, front-end    1
Student                 1
HTML/CSS                1
Java                    1
JavaScript              1
Node.js                 1
Python                  1
SQL                     1
MySQL                   1
Django                  1
React.js                1
React Native            1
Git                     1
Unity 3D                1
Android Studio          1
Visual Studio Code      1
Name: 44192, dtype: int32
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
feature_1     1
feature_11    1
feature_13    1
feature_3     1
feature_7     1
Name: 44192, dtype: int64

In [79]:
encoded_dfs["DevType"].columns

Index(['Academic researcher', 'Data or business analyst',
       'Data scientist or machine learning specialist',
       'Database administrator', 'Designer', 'DevOps specialist',
       'Developer, QA or test', 'Developer, back-end',
       'Developer, desktop or enterprise applications',
       'Developer, embedded applications or devices', 'Developer, front-end',
       'Developer, full-stack', 'Developer, game or graphics',
       'Developer, mobile', 'Educator', 'Engineer, data',
       'Engineer, site reliability', 'Engineering manager',
       'Marketing or sales professional', 'Other (please specify):',
       'Product manager', 'Scientist', 'Senior Executive (C-Suite, VP, etc.)',
       'Student', 'System administrator'],
      dtype='object')

EXCLUDE unnecessary roles

In [ ]:
EXCLUDED_ROLES=['Academic researcher',
                'Educator',
                'Marketing or sales professional',
                'Designer',
                'Other (please specify):',
                'Product manager',
                'Engineering manager'
                'Senior Executive (C-Suite, VP, etc.)',
                 'Student',
                
                ]

In [ ]:
for col in EXCLUDED_ROLES:
    print()

In [78]:
print(encoded_dfs.sum(axis=0).droplevel(0))

Academic researcher                               2899
Data or business analyst                          3792
Data scientist or machine learning specialist     4273
Database administrator                            5655
Designer                                          4611
                                                 ...
Vim                                              19752
Visual Studio                                    26970
Visual Studio Code                               58026
Webstorm                                          6564
Xcode                                             9040
Length: 150, dtype: int64